<div class="block-questionreport view-initial">

  {{#has_responses}}
    <div class="reponses">
      {{! If results for content question. }}  
      {{#contentq}}
        <div class="response-content">
          <span class="desc">
            {{contentq.desc}}
          </span>
          <span class="stat">
            {{contentq.stat}}<span class="percent">%</span>
          </span>
        </div>
      {{/contentq}}
      
      {{! If results for community question. }}  
      {{#commq}}
        <div class="response-comm">
          <span class="desc">
            {{commq.desc}}
          </span>
          <span class="stat">
            {{commq.stat}}<span class="percent">%</span>
          </span>
        </div>
      {{/commq}}
    </div>
  {{/has_responses}}

  {{! Results for content question. }}  
  {{#no_responses}}
    <div class="no-responses">
      {{{ no_responses}}}
    </div>
  {{/no_responses}}

  
  {{#buttons.reports}}
    <a href="{{buttons.reports.href}}" class="btn btn-primary">{{buttons.reports.text}}</a>
  {{/buttons.reports}}
  {{#buttons.charts}}
    <a href="{{buttons.charts.href}}" class="btn btn-primary">{{buttons.charts.text}}</a>
  {{/buttons.charts}}

</div>
  
