<div class="report-tables">
  <table class="table-responses table-responsive table table-striped table-bordered" width="100%">
    <thead>
      <td>
      </td>
      <td>
        {{# str }} this_course, block_questionreport {{/ str }}
      </td>
      <td>
        {{# str }} all_courses, block_questionreport {{/ str }}
      </td>
    </thead>
    <tbody>
      <th>
        {{# str }} number_responses, block_questionreport {{/ str }}
      </th>
      <td>
        {{values.this_course}}
      </td>
      <td>
        {{values.all_courses}}
      </td>
    </tbody>
  </table>
  <table class="table-facilitator">
    
  </table>
  <table class="table-session">
    
  </table>
</div>
