<div class="report-tables">
  <h2>{{# str }} tables_heading, block_questionreport {{/ str }}</h2>
  <h3>{{# str }} number_responses, block_questionreport {{/ str }}</h3>
  <table class="table table-responsive-md table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      <tr>
        <th>
          {{# str }} number_responses, block_questionreport {{/ str }}
        </th>
        <td class="center">
          {{values.this_course}}
        </td>
        <td class="center">
          {{values.all_courses}}
        </td>
      </tr>
    </tbody>
  </table>
  <h3>{{# str }} table_header_facilitator, block_questionreport {{/ str }}</h3>
  <table class="table-facilitator table-responsive-md table table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      <tr>
        <th>
          {{# str }} contentq_desc, block_questionreport {{/ str }}
        </th>
        <td class="center">
          {{values.fac_content_course}}%
        </td>
        <td class="center">
          {{values.fac_content_all}}%
        </td>
      </tr>
      <tr>
        <th>
          {{# str }} commq_desc, block_questionreport {{/ str }}
        </th>
        <td class="center">
          {{values.fac_comm_course}}%
        </td>
        <td class="center">
          {{values.fac_comm_all}}%
        </td>
      </tr>
    </tbody>
    
  </table>
  <h3>{{# str }} table_header_session, block_questionreport {{/ str }}</h3>
  <table class="table-session table table-responsive-md table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      <th>
        {{# str }} number_responses, block_questionreport {{/ str }}
      </th>
      <td class="center">
        {{values.this_course}}%
      </td>
      <td class="center">
        {{values.all_courses}}%
      </td>
    </tbody>
  </table>
</div>
