<div class="report-tables">
  <h2>{{# str }} tables_heading, block_questionreport {{/ str }}</h2>
  <h3>{{# str }} number_responses, block_questionreport {{/ str }}</h3>
  <table class="table table-responsive-md table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      <tr>
        <th>
          {{# str }} number_responses, block_questionreport {{/ str }}
        </th>
        <td class="center">
          {{responses.this_course}}
        </td>
        <td class="center">
          {{responses.all_courses}}
        </td>
      </tr>
    </tbody>
  </table>
  <h3>{{# str }} table_header_facilitator, block_questionreport {{/ str }}</h3>
  <p class="info">{{ fac_questions_info }}</p>
  <table class="table-facilitator table-responsive-md table table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      {{#facilitator}}
        <tr>
          <th>
            {{question}}
          </th>
          <td class="center">
            {{course}}
          </td>
          <td class="center">
            {{all}}
          </td>
        </tr>
      {{/facilitator}}
    </tbody>
  </table>
  <h3>{{# str }} table_header_session, block_questionreport {{/ str }}</h3>
  <p class="info">{{ rate_questions_info }}</p>
  <table class="table-session table table-responsive-md table-striped table-bordered" width="100%">
    <thead>
      <th>
      </th>
      <th class="center">
        {{# str }} this_course, block_questionreport {{/ str }}
      </th>
      <th class="center">
        {{# str }} all_courses, block_questionreport {{/ str }}
      </th>
    </thead>
    <tbody>
      {{#session}}
        <tr>
          <th>
            {{question}}
          </th>
          <td class="center">
            {{course}}
          </td>
          <td class="center">
            {{all}}
          </td>
        </tr>
      {{/session}}
    </tbody>
  </table>
</div>
