<h2>
  {{# str }} text_responses, block_questionreport {{/ str }}
</h2>
<p>
  {{# str }} word_cloud_info, block_questionreport {{/ str }}
</p>
<h3>
  {{# str }} word_cloud_heading, block_questionreport {{/ str }}
</h3>
<div id="word_cloud" style="display:block;width:600px;height:400px;">
</div>
{{#js}}
// console.log(WordCloud.isSupported)
// console.log(wordCloud)
WordCloud(document.getElementById('word_cloud'), {list: wordCloud, maxRotation: 0,minRotation: 0});
{{/js}}
<h2>{{# str }} by_question, block_questionreport {{/ str }}</h2>
